<!-- <p>server works!</p>
<h1 class="message">{{message}}</h1>
<h2>{{getnum(5,5)}}</h2> -->
<!-- property binding -->
<!-- <img [src]="imageurl" alt="">  -->
<!-- attribute binding -->
 <!-- attr.colspan -->
<!-- <p [style.color]="iserror?'red':'green'">we are not the same</p> -->

<!-- two directional binding  -->
<!-- <input type="text" [(ngModel)]="username">
<p>{{username}}</p>
 <button (click)="hello()">click</button>
 <input type="text" (input)="changevalue($event)"> -->

 <!-- structural directive -->
 <!-- <p *ngIf="ishere; else nothere"> welcome back</p>
<ng-template #nothere>
     <p>no no no</p>
</ng-template>

 <ul>
    <li *ngFor="let user of users; let i=index">
        {{i+1}}{{user}}
    </li>
 </ul> -->
